{% extends 'base.html' %} {% block dashboard %}

<div class="container">
    <br>
    <div class="row">

        <div class="col-md-8">
            <h6>Links</h6>
            {% for url in url_instances %}
            <div>
                <div class="card" style="width: 45rem;">
                    <div class="card-body">
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <h5 class="card-title">{{url.title}}</h5>
                                <label style="margin-top:1px">No of clicks: &nbsp; {{url.no_clicks}}</label>
                                <img src="https://image.flaticon.com/icons/svg/893/893214.svg" width="13px;" style="margin-bottom:6px;">
                            </div>
                            <label style="margin-top:2px; color: rgb(150, 140, 140); font-size: 14px; float: right;">http://127.0.0.1:8000/{{url.short_hash}}</label>
                        </div>
                        <p class="card-text">{{url.long_url|truncatechars:70}}</p>
                        <a href="{{url.long_url}}" class="btn btn-primary" target="_blank">Vist Link</a>
                    </div>
                </div>
            </div>
            <br> {% endfor %}
        </div>

        <div class="col-md-4" method="POST">
            <form action="/create_short_url/" method="POST">
                {% csrf_token %}
                <h6>Create new URL</h6>
                <input type="text" name="title" placeholder="Title" class="form-control">
                <br>
                <input type="text" class="form-control" placeholder="Paste Login URL" name="long_url">
                <br>
                <button type="submit" class="btn btn-warning btn-sm" style="color: white;">Shorten</button>
            </form>
        </div>

    </div>

</div>

{% endblock %}